# Sample config file for rmilter
# $Id$
#

# pidfile - path to pid file
# Default: pidfile = /var/run/rmilter.pid

pidfile = ./rmilter.pid;

# clamav - clamav socket definitions in format:
# unix:/path/to/file
# inet:port@host
# sockets are separated by ','
# Default: empty

clamav = inet:3310@localhost, unix:/var/tmp/clamav.sock;

# bind_socket - socket credits for local bind:
# unix:/path/to/file - bind to local socket
# inet:port@host - bind to inet socket
# Default: bind_socket = unix:/var/tmp/rmilter.sock;

bind_socket = unix:./rmilter.sock;

# tempdir - path to directory that contains temporary files
# Default: $TMPDIR
tempdir = /tmp;

# max_size - maximum size of scanned mail with clamav and dcc
# Default: 0 (no limit)
max_size = 10M;

# spf_domains - path to file that contains hash of spf domains
# Default: empty

spf_domains = rambler.ru, mail.ru;

# rule definition:
# rule {
#	accept|discard|reject|tempfail|quarantine "[message]"; <- action definition
#	[not] connect <regexp> <regexp>; <- conditions
#	helo <regexp>;
#	envfrom <regexp>;
#	envrcpt <regexp>;
#	header <regexp> <regexp>;
#	body <regexp>;
# };

rule {
	reject "No localhost";
	helo /^localhost.localdomain$/;
};
