#!/usr/bin/make -f
#export DEB_BUILD_MAINT_OPTIONS=hardening=+all

export DEB_LDFLAGS_MAINT_APPEND=-Wl,--as-needed

include /usr/share/dpkg/buildflags.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_CMAKE_NORMAL_ARGS+= -DENABLE_SPF=ON \
						-DENABLE_DKIM=ON \
						-DRMILTER_GROUP=rmilter \
						-DRMILTER_USER=rmilter
